.form_block {
    padding: 1.25rem;
    border: 1px solid #e6e6e6;
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 1rem rgba(0,0,0,.1);
    background-color: #f9f9f9;
}
.form_wrap {
    padding-top: 30px;

}
.form_head {
    margin-bottom: 15px;
}
.form_title {
    text-align: center;
}

.btn_submit {
    min-width: 16.5rem;
    max-width: 100%;
    color: #fff;
    background-color: #f91f2b;
    font-family: Montserrat,sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    padding: 1.25em 1.5em;
    border: 0.125rem solid #f91f2b;
    border-radius: 2em;
    box-shadow: 0 0.25rem 1rem rgba(249,31,43,.3);
    transition: all .25s ease-in-out;
}
